In [1]:
import pandas as pd
fr =open('/Users/tianyizhao/Desktop/PUMA Dataset/Final Data.csv','rb')
df = pd.read_csv(fr)

In [2]:
df.head()

,Division,CarrierRouteRateSortation,CityDeliveryIndicator,LocationType,Channel,Region,LandArea,PersonsPerHousehold,WaterArea,BoxCount,...,DayLightSaving,CityType,CBSA_Type,AliasIntroDate,ZIPIntroDate,FacilityCode,MailingName,PrimaryRecord,Transaction`Type,label
0,-unknown,-unknown,-unknown,Mall,Outlet,-unknown,"(-2.0, -1.0]","(-2.0, -1.0]","(-2.0, -1.0]","(-2, -1]",...,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,Sale,1
1,-unknown,-unknown,-unknown,Mall,Outlet,-unknown,"(-2.0, -1.0]","(-2.0, -1.0]","(-2.0, -1.0]","(-2, -1]",...,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,Sale,1
2,-unknown,-unknown,-unknown,Mall,Outlet,-unknown,"(-2.0, -1.0]","(-2.0, -1.0]","(-2.0, -1.0]","(-2, -1]",...,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,Return,1
3,-unknown,-unknown,-unknown,Mall,Outlet,-unknown,"(-2.0, -1.0]","(-2.0, -1.0]","(-2.0, -1.0]","(-2, -1]",...,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,Return,1
4,-unknown,-unknown,-unknown,Mall,Outlet,-unknown,"(-2.0, -1.0]","(-2.0, -1.0]","(-2.0, -1.0]","(-2, -1]",...,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,-unknown,Return,1

In [3]:
fr1 = open('/Users/tianyizhao/Desktop/PUMA Dataset/mid_result.csv','rb')
df4 = pd.read_csv(fr1)

/Users/tianyizhao/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,6,9,10,11,15,41,42,58,80,81,83) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df4.head()

,InternationalStoreCode,TheDate,Transaction`Type,ShipToZipCode,Transactions,NickName,ZipCode,CloseDt,Channel,RegionName,...,StateANSI,CountyANSI,ZIPIntroDate,AliasIntroDate,FacilityCode,CityDeliveryIndicator,CarrierRouteRateSortation,FinanceNumber,UniqueZIPName,label
0,CARO0015,2017-11-20 00:00:00.000,Sale,J7C 5,1.0,Mirabel,J7J 0T1,20991231.0,Outlet,EAST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,CARO0015,2018-07-31 00:00:00.000,Sale,H1L 4,1.0,Mirabel,J7J 0T1,20991231.0,Outlet,EAST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,CARO0015,2019-01-15 00:00:00.000,Return,NaN,1.0,Mirabel,J7J 0T1,20991231.0,Outlet,EAST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,CARO0015,2016-02-20 00:00:00.000,Return,NaN,1.0,Mirabel,J7J 0T1,20991231.0,Outlet,EAST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,CARO0015,2019-03-06 00:00:00.000,Return,NaN,1.0,Mirabel,J7J 0T1,20991231.0,Outlet,EAST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [5]:
list(df4.columns)

['InternationalStoreCode',
 'TheDate',
 'Transaction`Type',
 'ShipToZipCode',
 'Transactions',
 'NickName',
 'ZipCode',
 'CloseDt',
 'Channel',
 'RegionName',
 'DistrictName',
 'AreaName',
 'TimeZone_x',
 'LocationType',
 'SellingSqFt',
 'SimilarStore',
 'Type',
 'PrimaryRecord',
 'Population',
 'HouseholdsPerZipcode',
 'WhitePopulation',
 'BlackPopulation',
 'HispanicPopulation',
 'AsianPopulation',
 'HawaiianPopulation',
 'IndianPopulation',
 'OtherPopulation',
 'MalePopulation',
 'FemalePopulation',
 'PersonsPerHousehold',
 'AverageHouseValue',
 'IncomePerHousehold',
 'MedianAge',
 'MedianAgeMale',
 'MedianAgeFemale',
 'Latitude',
 'Longitude',
 'Elevation',
 'State',
 'StateFullName',
 'CityType',
 'CityAliasAbbreviation',
 'AreaCode',
 'City',
 'CityAliasName',
 'County',
 'CountyFIPS',
 'StateFIPS',
 'TimeZone_y',
 'DayLightSaving',
 'MSA',
 'PMSA',
 'CSA',
 'CBSA',
 'CBSA_DIV',
 'CBSA_Type',
 'CBSA_Name',
 'MSA_Name',
 'PMSA_Name',
 'Region',
 'Division',
 'MailingName',
 'NumberOfBusinesses',
 'NumberOfEmployees',
 'BusinessFirstQuarterPayroll',
 'BusinessAnnualPayroll',
 'BusinessEmploymentFlag',
 'GrowthRank',
 'GrowthHousingUnits2009',
 'GrowthHousingUnits2010',
 'GrowthIncreaseNumber',
 'GrowthIncreasePercentage',
 'CBSAPop2003',
 'CBSADivPop2003',
 'CongressionalDistrict',
 'CongressionalLandArea',
 'DeliveryResidential',
 'DeliveryBusiness',
 'DeliveryTotal',
 'PreferredLastLineKey',
 'ClassificationCode',
 'MultiCounty',
 'CSAName',
 'CBSA_DIV_Name',
 'CityStateKey',
 'PopulationEstimate',
 'LandArea',
 'WaterArea',
 'CityAliasCode',
 'CityMixedCase',
 'CityAliasMixedCase',
 'BoxCount',
 'SFDU',
 'MFDU',
 'StateANSI',
 'CountyANSI',
 'ZIPIntroDate',
 'AliasIntroDate',
 'FacilityCode',
 'CityDeliveryIndicator',
 'CarrierRouteRateSortation',
 'FinanceNumber',
 'UniqueZIPName',
 'label']

In [6]:
df.shape[0]==df4.shape[0]

True

In [7]:
df['SellingSqFt'] = df4['SellingSqFt'].copy()
df['SellingSqFt'] = df['SellingSqFt'].fillna(-1)
df['SellingSqFt_is_exist'] = df['SellingSqFt'].apply(lambda x:'Unknown' if x==-1 else 'Exist')
df.drop('SellingSqFt',axis=1,inplace=True)

In [8]:
df[['Population','IncomePerHousehold']]=df4[['Population','IncomePerHousehold']].copy()
df['Population'] = df['Population'].fillna(-1)
df['IncomePerHousehold'] = df['IncomePerHousehold'].fillna(-1)

In [9]:
cut_list = [-2,-1,2.41,3.04,10000000000]
label = ['Unknown','0-2.41','2.41-3.04','3.04+']
df['Population'] = pd.cut(df['Population'],cut_list,labels=label)
cut_list = [-2,-1,99924,10000000000]
label = ['Unknown','0-99924','99924+']
df['IncomePerHousehold'] = pd.cut(df['IncomePerHousehold'],cut_list,labels=label)

In [10]:
df['IncomePerHousehold']

0          Unknown
1          Unknown
2          Unknown
3          Unknown
4          Unknown
            ...
2928899     99924+
2928900     99924+
2928901     99924+
2928902    0-99924
2928903    0-99924
Name: IncomePerHousehold, Length: 2928904, dtype: category
Categories (3, object): [Unknown < 0-99924 < 99924+]

In [11]:
df['label'].value_counts()

0    2917088
1      11816
Name: label, dtype: int64

In [12]:
df.columns

Index(['Division', 'CarrierRouteRateSortation', 'CityDeliveryIndicator',
       'LocationType', 'Channel', 'Region', 'LandArea', 'PersonsPerHousehold',
       'WaterArea', 'BoxCount', 'CBSA', 'Transactions', 'TimeZone_x',
       'DayLightSaving', 'CityType', 'CBSA_Type', 'AliasIntroDate',
       'ZIPIntroDate', 'FacilityCode', 'MailingName', 'PrimaryRecord',
       'Transaction`Type', 'label', 'SellingSqFt_is_exist', 'Population',
       'IncomePerHousehold'],
      dtype='object')

In [13]:
df['Population']

0          Unknown
1          Unknown
2          Unknown
3          Unknown
4          Unknown
            ...
2928899      3.04+
2928900      3.04+
2928901      3.04+
2928902      3.04+
2928903      3.04+
Name: Population, Length: 2928904, dtype: category
Categories (4, object): [Unknown < 0-2.41 < 2.41-3.04 < 3.04+]

#### 先划分样本

In [14]:
X_total = df[[x for x in list(df.columns) if x!='label' ]]
drop_list = ['Division','CarrierRouteRateSortation','CityDeliveryIndicator','AliasIntroDate','ZIPIntroDate','WaterArea','TimeZone_x','DayLightSaving',
            'MailingName','LandArea','FacilityCode','BoxCount']

X_total.drop(drop_list,axis=1,inplace=True)
y_total = df['label']

/Users/tianyizhao/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [15]:
X_total = pd.get_dummies(X_total)

In [16]:
X_total.columns

Index(['LocationType_-unknown', 'LocationType_Internet', 'LocationType_Mall',
       'LocationType_Street', 'Channel_Concept', 'Channel_Outlet',
       'Channel_Web', 'Region_-unknown', 'Region_Midwest', 'Region_Northeast',
       'Region_South', 'Region_West', 'PersonsPerHousehold_(-1.0, 2.41]',
       'PersonsPerHousehold_(-2.0, -1.0]', 'PersonsPerHousehold_(2.41, 3.04]',
       'PersonsPerHousehold_(3.04, 10000000000.0]', 'CBSA_(-1, 31080]',
       'CBSA_(-2, -1]', 'CBSA_(31080, 10000000000]', 'Transactions_(-100, 2]',
       'Transactions_(2, 4]', 'Transactions_(4, 67]',
       'Transactions_(67, 100000000000]', 'CityType_-unknown', 'CityType_B',
       'CityType_P', 'CityType_Z', 'CBSA_Type_-unknown', 'CBSA_Type_Metro',
       'CBSA_Type_Micro', 'PrimaryRecord_-unknown', 'PrimaryRecord_P',
       'Transaction`Type_-unknown', 'Transaction`Type_Return',
       'Transaction`Type_Sale', 'SellingSqFt_is_exist_Exist',
       'SellingSqFt_is_exist_Unknown', 'Population_Unknown',
       'Population_0-2.41', 'Population_2.41-3.04', 'Population_3.04+',
       'IncomePerHousehold_Unknown', 'IncomePerHousehold_0-99924',
       'IncomePerHousehold_99924+'],
      dtype='object')

In [17]:
X_columns_list = []
for x_column in list(X_total.columns):
    if 'Unknown' in x_column:
        a = x_column.replace('Unknown','unknown')
    else:
        a = x_column
    X_columns_list.append(a)

In [18]:
X_total.columns = X_columns_list

In [19]:
X_total.columns

Index(['LocationType_-unknown', 'LocationType_Internet', 'LocationType_Mall',
       'LocationType_Street', 'Channel_Concept', 'Channel_Outlet',
       'Channel_Web', 'Region_-unknown', 'Region_Midwest', 'Region_Northeast',
       'Region_South', 'Region_West', 'PersonsPerHousehold_(-1.0, 2.41]',
       'PersonsPerHousehold_(-2.0, -1.0]', 'PersonsPerHousehold_(2.41, 3.04]',
       'PersonsPerHousehold_(3.04, 10000000000.0]', 'CBSA_(-1, 31080]',
       'CBSA_(-2, -1]', 'CBSA_(31080, 10000000000]', 'Transactions_(-100, 2]',
       'Transactions_(2, 4]', 'Transactions_(4, 67]',
       'Transactions_(67, 100000000000]', 'CityType_-unknown', 'CityType_B',
       'CityType_P', 'CityType_Z', 'CBSA_Type_-unknown', 'CBSA_Type_Metro',
       'CBSA_Type_Micro', 'PrimaryRecord_-unknown', 'PrimaryRecord_P',
       'Transaction`Type_-unknown', 'Transaction`Type_Return',
       'Transaction`Type_Sale', 'SellingSqFt_is_exist_Exist',
       'SellingSqFt_is_exist_unknown', 'Population_unknown',
       'Population_0-2.41', 'Population_2.41-3.04', 'Population_3.04+',
       'IncomePerHousehold_unknown', 'IncomePerHousehold_0-99924',
       'IncomePerHousehold_99924+'],
      dtype='object')

In [20]:
na_list = [x for x in X_columns_list if 'unknown' in x]

#### 衍生信息完整度变量

In [21]:
complete_percent = X_total[na_list].apply(lambda x:sum(x)/len(x),axis=1)

In [22]:
complete_percent1 = []
NN = X_total[na_list].shape[1]
for index,row in X_total[na_list].iterrows():
    complete_percent1.append(sum(row)/NN)

In [23]:
set(complete_percent1)

{0.0, 0.1111111111111111, 0.2222222222222222, 0.6666666666666666}

In [24]:
complete_percent.drop_duplicates()

0        0.666667
5075     0.000000
5859     0.222222
11805    0.111111
dtype: float64

In [25]:
X_total['complete_percent'] = complete_percent
X_total['ZipCode'] = df4['ZipCode']
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test =train_test_split(X_total,y_total,test_size=0.4, random_state=1001)

#### 保留zipcode为数字

In [26]:
filter_1 = X_test['ZipCode'].apply(lambda x:str(x).isdigit())

In [27]:
X_test.shape

(1171562, 46)

In [28]:
X_test[filter_1==True].shape

(1164708, 46)

In [29]:
X_test=X_test[filter_1==True]
y_test = y_test[filter_1==True]

In [30]:
train_zipcode = X_train['ZipCode']
test_zipcode = X_test['ZipCode']
X_train.drop('ZipCode',axis=1,inplace=True)
X_test.drop('ZipCode',axis=1,inplace=True)

/Users/tianyizhao/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

#### 采样

In [31]:
df1 =X_train[y_train==0]
df2 = df1.sample(sum(y_train),random_state=1)

In [32]:
df3 = X_train[y_train==1]
df3 = df3.append(df2)

In [33]:
df3.shape

(14350, 45)

In [34]:
sum(y_train==1)

7175

In [35]:
train_x = df3
train_y=[1]*7175
train_y.extend([0]*7175)

In [36]:
train_x.index = list(range(len(train_x)))

In [37]:
train_x.columns

Index(['LocationType_-unknown', 'LocationType_Internet', 'LocationType_Mall',
       'LocationType_Street', 'Channel_Concept', 'Channel_Outlet',
       'Channel_Web', 'Region_-unknown', 'Region_Midwest', 'Region_Northeast',
       'Region_South', 'Region_West', 'PersonsPerHousehold_(-1.0, 2.41]',
       'PersonsPerHousehold_(-2.0, -1.0]', 'PersonsPerHousehold_(2.41, 3.04]',
       'PersonsPerHousehold_(3.04, 10000000000.0]', 'CBSA_(-1, 31080]',
       'CBSA_(-2, -1]', 'CBSA_(31080, 10000000000]', 'Transactions_(-100, 2]',
       'Transactions_(2, 4]', 'Transactions_(4, 67]',
       'Transactions_(67, 100000000000]', 'CityType_-unknown', 'CityType_B',
       'CityType_P', 'CityType_Z', 'CBSA_Type_-unknown', 'CBSA_Type_Metro',
       'CBSA_Type_Micro', 'PrimaryRecord_-unknown', 'PrimaryRecord_P',
       'Transaction`Type_-unknown', 'Transaction`Type_Return',
       'Transaction`Type_Sale', 'SellingSqFt_is_exist_Exist',
       'SellingSqFt_is_exist_unknown', 'Population_unknown',
       'Population_0-2.41', 'Population_2.41-3.04', 'Population_3.04+',
       'IncomePerHousehold_unknown', 'IncomePerHousehold_0-99924',
       'IncomePerHousehold_99924+', 'complete_percent'],
      dtype='object')

In [38]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()   # 初始化LogisticRegression
lr.fit(train_x,train_y)   # 使用训练集对测试集进行训练
lr_y_predit1=lr.predict_proba(train_x)[:,1]  # 使用逻辑回归函数对训练集进行预测
train_auc = metrics.roc_auc_score(train_y,lr_y_predit1)
print(train_auc)

0.9970616032730761

/Users/tianyizhao/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [39]:
def get_LR_importance(LR_model,col_name):
    important_df = pd.DataFrame(list(zip(list(LR_model.coef_[0,:]),col_name)),columns=['weight','name']).sort_values(by=['weight'],ascending=False)
    important_df.index = list(range(len(important_df)))
    return important_df

In [40]:
get_LR_importance(lr,list(train_x.columns))

      weight                                       name
0   5.243665                           Region_Northeast
1   3.338485  PersonsPerHousehold_(3.04, 10000000000.0]
2   2.142358                 IncomePerHousehold_0-99924
3   1.849055                            Channel_Concept
4   1.730535            Transactions_(67, 100000000000]
5   1.603211                          LocationType_Mall
6   1.020231                        LocationType_Street
7   0.788671                  Transaction`Type_-unknown
8   0.590421                 IncomePerHousehold_unknown
9   0.590421                         Population_unknown
10  0.590421                          CityType_-unknown
11  0.590421                     PrimaryRecord_-unknown
12  0.590421           PersonsPerHousehold_(-2.0, -1.0]
13  0.590421                         CBSA_Type_-unknown
14  0.590421                              CBSA_(-2, -1]
15  0.522188                    Transaction`Type_Return
16  0.484797                                Region_West
17  0.442011                            CBSA_Type_Metro
18  0.338945                           complete_percent
19  0.195731                           CBSA_(-1, 31080]
20  0.136556                             Channel_Outlet
21  0.133512                            Region_-unknown
22  0.000000                       Population_2.41-3.04
23  0.000000                                 CityType_B
24 -0.185951               SellingSqFt_is_exist_unknown
25 -0.242161                                 CityType_Z
26 -0.260982                           Population_3.04+
27 -0.364602                 SellingSqFt_is_exist_Exist
28 -0.378823                     Transactions_(-100, 2]
29 -0.637831                      LocationType_-unknown
30 -0.795772                       Transactions_(4, 67]
31 -0.879992                          Population_0-2.41
32 -0.898813                                 CityType_P
33 -0.910470           PersonsPerHousehold_(2.41, 3.04]
34 -1.106494                        Transactions_(2, 4]
35 -1.140974                            PrimaryRecord_P
36 -1.336705                  CBSA_(31080, 10000000000]
37 -1.546605                             Region_Midwest
38 -1.582985                            CBSA_Type_Micro
39 -1.861413                      Transaction`Type_Sale
40 -2.536164                      LocationType_Internet
41 -2.536164                                Channel_Web
42 -3.283332                  IncomePerHousehold_99924+
43 -3.568988           PersonsPerHousehold_(-1.0, 2.41]
44 -4.865922                               Region_South

In [41]:
train_auc

0.9970616032730761

In [42]:
lr_y_predit2=lr.predict_proba(X_test)[:,1]  # 使用逻辑回归函数对测试集进行预测
test_auc = metrics.roc_auc_score(y_test,lr_y_predit2)

In [43]:
test_auc

0.998287100049728

#### Decision Tree Classifier

In [44]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(max_depth = 10, random_state = 42)
tree.fit(train_x, train_y)
tree_y_train_predict = tree.predict_proba(train_x)[:,1]
tree_y_test_predict = tree.predict_proba(X_test)[:,1]
tree_train_auc = metrics.roc_auc_score(train_y,tree_y_train_predict)
tree_test_auc = metrics.roc_auc_score(y_test,tree_y_test_predict)
print("Tree train AUC")
print(tree_train_auc)
print("Tree test AUC")
print(tree_test_auc)

Tree train AUC
0.9964792385484831
Tree test AUC
0.9991266839620514

#### RandomForest

In [45]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(max_depth = 6, random_state = 42)
rf.fit(train_x, train_y)

rf_y_train_predict =rf.predict_proba(train_x)[:,1]
rf_y_test_predict = rf.predict_proba(X_test)[:,1]

rf_train_auc = metrics.roc_auc_score(train_y,rf_y_train_predict)
rf_test_auc = metrics.roc_auc_score(y_test,rf_y_test_predict)
print("rf train AUC")
print(rf_train_auc)
print("rf test AUC")
print(rf_test_auc)

/Users/tianyizhao/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

rf train AUC
0.998083230341512
rf test AUC
0.9992494930943767

In [46]:
test_dfdf = pd.DataFrame({'ZipCode':test_zipcode,'LR':lr_y_predit2,'DT':tree_y_test_predict,'RF':rf_y_test_predict})

In [47]:
dd1 = test_dfdf.groupby('ZipCode').sum()/test_dfdf.groupby('ZipCode').count()

In [48]:
dd1['ZipCode'] = [str(x) for x in list(dd1.index)]

In [52]:
#dd2 = dd1.groupby('ZipCode').sum()/dd1.groupby('ZipCode').count()

In [53]:
#dd2['ZipCode'] = [str(x) for x in list(dd2.index)]

In [78]:
#avg_prob = dd2[['LR','DT','RF']].apply(sum,axis=1)/3

In [79]:
#dd2['avg_prob'] = final prob

In [56]:
avg_prob = pd.read_csv('/Users/tianyizhao/Desktop/PUMA Dataset/final prob.csv','rb')
avg_prob.head

/Users/tianyizhao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

<bound method NDFrame.head of                        LR,RF,avg_prob,ZipCode
0   0.989601638,0.986081925,0.987841782,90040
1   0.983764973,0.985914263,0.984839618,92231
2   0.980283565,0.969922269,0.975102917,07201
3   0.945281725,0.957245505,0.951263615,08012
4   0.931518184,0.952673691,0.942095938,19154
..                                        ...
60  0.000124918,0.097242697,0.048683808,29572
61  0.000123914,0.097242697,0.048683306,34222
62  0.000123717,0.097242697,0.048683207,37214
63       0.00059528,3.39E-05,0.00031459,01886
64            0.000624754,0,0.000312377,20871

[65 rows x 1 columns]>